<launch>
  <arg name="MANAGER"           default="nodelet_manager" />
  <arg name="INPUT_CLOUD"       default="/multisense_local/image_points2_color" />
  <arg name="INPUT_IMAGE"       default="/multisense_local/left/image_rect_color" />
  <arg name="INPUT_CAMERA_INFO" default="/multisense_local/left/camera_info" />
  <arg name="rviz"              default="true" />

  <!-- nodelet manager -->
  <node name="$(arg MANAGER)" pkg="nodelet" type="nodelet" args="manager" />

  <!-- extract green boxes -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="green_hsv_color_filter" />
    <arg name="image" value="$(arg INPUT_IMAGE)" />
    <arg name="h_limit_max" value="144" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="90"  doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="150" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="256" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="95"  doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- extract blue boxes -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="blue_hsv_color_filter" />
    <arg name="image" value="$(arg INPUT_IMAGE)" />
    <arg name="h_limit_max" value="282" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="170" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="150" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="256" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="95"  doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <node pkg="jsk_footstep_planner" type="masked_images_to_label.py"
        name="masked_images_to_label" output="screen">
  </node>

  <!-- visualize -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find jsk_footstep_planner)/config/color_object_recognition.rviz"
        output="screen" if="$(arg rviz)"/>

</launch>
