<launch>
  <arg name="rviz" default="true" />
  <arg name="init" default="true" />

  <!-- move base cart -->
  <include file="$(find jsk_footstep_planner)/launch/move_base_cart.launch" >
    <arg name="no_static_map"       value="true"/>
    <arg name="base_global_planner" value="navfn/NavfnROS"/>
    <arg name="base_local_planner"  value="dwa_local_planner/DWAPlannerROS"/>
    <arg name="rviz"                value="false" />
  </include>

  <!-- color object recognition -->
  <include file="$(find jsk_footstep_planner)/launch/color_object_recognition.launch" >
    <arg name="rviz" value="false" />
  </include>

  <!-- filter cart pointcloud -->
  <include file="$(find jsk_footstep_planner)/launch/filter_cart_pointcloud.launch" >
    <arg name="rviz" value="false" />
  </include>

  <!-- make heightmap from filtered pointcloud -->
  <node name="filter_cart_heightmap" pkg="jsk_pcl_ros" type="heightmap_converter">
    <remap from="~input" to="/filter_cart_pointcloud/output" />
    <rosparam>
      min_x: -3.0
      max_x: 13.0
      min_y: -8.0
      max_y:  8.0
      resolution_x: 1600 ## 0.01 m/pixel
      resolution_y: 1600 ## 0.01 m/pixel
    </rosparam>
  </node>
  <node name="morphological_filter_cart_heightmap" pkg="jsk_pcl_ros" type="heightmap_morphological_filtering">
    <remap from="~input" to="/filter_cart_heightmap/output" />
    <rosparam>
      mask_size: 3 ## cover within 0.06m
      max_variance: 0.0002 ### (* 0.014 0.014)
      smooth_method: average_distance
      use_bilateral: true
      bilateral_filter_size: 4
      bilateral_sigma_color: 0.028
      bilateral_sigma_space: 3
    </rosparam>
  </node>

  <!-- publish heightmap gradient -->
  <node pkg="safe_footstep_planner" type="calc_heightmap_gradient"
        name="calc_heightmap_gradient" output="screen">
    <!-- <remap from="~input" to="/filter_cart_heightmap/output" /> -->
    <remap from="~input" to="/morphological_filter_cart_heightmap/output" />
    <remap from="~output" to="/heightmap_gradient" />
  </node>

  <!-- push cart init -->
  <node pkg="jsk_footstep_planner" type="push-cart-init.l"
        name="push_cart_init" output="screen" if="$(arg init)"/>

  <!-- visualize -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find jsk_footstep_planner)/config/jaxon_push_cart.rviz"
        output="screen" if="$(arg rviz)"/>

</launch>
