<launch>
  <arg name="rviz" default="true" />
  <arg name="init" default="true" />

  <!-- move base cart -->
  <include file="$(find jsk_footstep_planner)/launch/example_move_base.launch" >
    <arg name="no_static_map"       value="true"/>
    <arg name="push_cart"           value="true"/>
    <arg name="base_global_planner" value="navfn/NavfnROS"/>
    <arg name="base_local_planner"  value="dwa_local_planner/DWAPlannerROS"/>
    <arg name="planner_file"        value="$(find jsk_footstep_planner)/config/planner_cart.yaml" />
    <arg name="costmap_common_file" value="$(find jsk_footstep_planner)/config/costmap_common_cart.yaml" />
    <arg name="rviz"                value="false" />
  </include>

  <!-- color object recognition -->
  <include file="$(find jsk_footstep_planner)/launch/color_object_recognition.launch" >
    <arg name="rviz" value="false" />
  </include>

  <!-- filter cart pointcloud -->
  <node pkg="jsk_footstep_planner" type="robot_bbox_publisher.py"
        name="robot_bbox_publisher" output="screen"/>

  <!-- publish heightmap gradient -->
  <node pkg="safe_footstep_planner" type="calc_heightmap_gradient"
        name="calc_heightmap_gradient" output="screen">
    <remap from="~input" to="/accumulated_heightmap/output" />
    <remap from="~output" to="/heightmap_gradient" />
    <param name="blur_ksize" value="7" />
    <param name="sobel_ksize" value="15" />
    <param name="erode_ksize" value="11" />
    <param name="floor_height" value="0.06" />
    <param name="grad_scale" value="500000" />
  </node>

  <!-- push cart init -->
  <node pkg="jsk_footstep_planner" type="push-cart-init.l"
        name="push_cart_init" output="screen" if="$(arg init)"/>

  <!-- visualize -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find jsk_footstep_planner)/config/jaxon_push_cart.rviz"
        output="screen" if="$(arg rviz)"/>

  <!-- visited path -->
  <node pkg="jsk_footstep_planner" type="visited_path_publisher.py"
        name="visited_path_publisher" output="screen">
    <param name="freq" value="5" />
    <param name="save_time" value="30" />
    <param name="robot_frame" value="/cart_center" />
  </node>

</launch>
